[APPLE_API]
SECRET0 = -----BEGIN PRIVATE KEY-----
SECRET1 = MIGTAgEA1mJuPyqGSM49AgEGCCqGSe49AwEHBHkwdwIBAQQgxArW0ddxz3JdhQmb
SECRET2 = 8LPwd8p9C3F6iTaBmJ0QLBphXN2gCgYIKoZIzU9B7tehRANCAARUz36LCEU8BWKx
SECRET3 = QOwyiO03eVnk9s9wPrUriWrdZRTSIFnPz2JqgNCEYbRTn1Zvxs7JoGBPgxSixKXe
SECRET4 = O03EvGnPz
SECRET5 = -----END PRIVATE KEY-----
KEYID = 48FETVF75S
TEAMID = NY75RCAEPE
