[APPLE_API]
SECRET0 = -----BEGIN EC PRIVATE KEY-----
SECRET1 = MHcCAQEEIMQK1tHXcc9yXYUJgvCz8HfEkRZueok2gZidECwaYVzdoAoGCCqGSM49
SECRET2 = AwEHoUQDQgAEVM9+iwhFPAVil0DsMopGE+LZ5PbPcD61K4lq3WUU0iBZz89iaoDQ
SECRET3 = hGG0U59Wb8bOyaBgT4MUosSlyW8tVhpz2g==
SECRET4 = -----END EC PRIVATE KEY-----
KEYID = 88FHTYF88Y
TEAMID = NZ68UCAUPG
